{
  "parser": "@typescript-eslint/parser",
  "extends": [
    "eslint-config-blvd/react",
    "prettier/@typescript-eslint",
    "prettier/react",
    "plugin:prettier/recommended"
  ],
  "parserOptions": {
    "ecmaVersion": 2018,
    "sourceType": "module",
    "ecmaFeatures": {
      "jsx": true
    }
  },
  "settings": {
    "react": {
      "version": "detect"
    }
  },
  "rules": {
    "no-use-before-define": "off",
    "jsx-a11y/click-events-have-key-events": "off",
    "jsx-a11y/no-static-element-interactions": "off",
    "jsx-a11y/alt-text": "off",
    "jsx-a11y/label-has-associated-control": "off",
    "react/button-has-type": "off",
    "no-param-reassign": "off",
    "no-useless-concat": "off",
    "no-async-promise-executor": "off",
    "no-await-in-loop": "off",
    "no-else-return": "off",
    "no-console": "off",
    "no-plusplus": "off",
    "react/no-danger": "off",
    "react/jsx-props-no-spreading": "off",
    "comma-dangle": [
      "error",
      "always-multiline"
    ],
    "@typescript-eslint/no-unused-vars": "off",
    "max-len": [
      "error",
      {
        "code": 140,
        "ignoreUrls": true,
        "ignoreStrings": true,
        "ignoreTemplateLiterals": true
      }
    ],
    "import/prefer-default-export": "off",
    "@typescript-eslint/interface-name-prefix": "off",
    "@typescript-eslint/no-explicit-any": "off",
    "@typescript-eslint/explicit-function-return-type": "off",
    "react/no-unescaped-entities": [
      "error",
      {
        "forbid": [
          {
            "char": ">",
            "alternatives": [
              "&gt;"
            ]
          },
          {
            "char": "}",
            "alternatives": [
              "&#125;"
            ]
          }
        ]
      }
    ]
  }
}
